.authContainer{
    background-color: var(--bg);
}

button{
    background-color: var(--accent) !important;
    color: white !important;
}

label{
    color: var(--text);
}

.header{
    background-color: var(--secondary);
}
.sidebar{
    background-color: var(--primary);
}

.nailCardBody{
    background-color:  var(--secondary) !important;
    color: white !important;
}