.authContainer {
    background-color: var(--bg);
}

/* button{
    background-color: var(--accent) !important;
    color: white !important;
} */

label {
    color: var(--text);
}

.header {
    background-color: var(--secondary);
}

.sidebar {
    background-color: var(--primary);
}

.nailCardBod {
    background-color: var(--secondary) !important;
    color: white !important;
}


.nail-card {
    width: 18rem;
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
}

.nail-card .card-footer {
    margin-top: auto;
    /* keeps footer at bottom */
}